# fly.toml app configuration file generated for ti-port on 2025-12-15T10:13:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ti-port'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = 256
  cpu_kind = 'shared'
  cpus = 1