---
import Slider from "./Slider";
---

<div class="">
  <div class="relative mx-6 pt-36 md:fixed md:max-w-[50vw]">
    <h2 class="text-9xl font-bold">Tine Muzunza</h2>
    <h2 class="text-lg font-bold pb-4">Software Engineer</h2>
    <p class="">
      Mauris iaculis, turpis ac scelerisque scelerisque, nibh mauris vestibulum
      sapien, id accumsan dui leo nec enim. Suspendisse potenti. Integer
      tincidunt, mauris eget cursus tristiqua scelerisque eros, website and
      linked accounts.
    </p>
  </div>
  <div class="md:pt-36 md:right-[50vw] md:pl-[50vw]">
    <Slider />
  </div>
</div>

