---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="404">
  <div class="flex flex-col text-skin-text sm:text-sm">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full flex-grow pt-6 sm:max-w-[812px]">
        <p>This page doesn't exist :(</p>
        <div class="text-skin-text">
          <svg class="fill-skin-accent" viewBox="0 0 35 18">
            <text
              x="50%"
              y="65%"
              dominant-baseline="middle"
              text-anchor="middle">404
            </text
            >
          </svg>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
