---
import Featured from "../components/Featured.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Tine Muzunza | Featured">
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pb-16 pt-6 sm:max-w-[920px]">
        <h1 class="pb-4">
          hi i'm tine, <br /> a software developer
        </h1>

        <p>
          I'm a software developer specializing in building scalable and resilient backend systems with Java,
          SpringBoot, and cloud technologies. I enjoy solving complex problems, optimizing performance, and working with
          databases, CI/CD, and container orchestration. Outside of coding, I love drawing and 3D modelling.
        </p>
      </div>
      <div class="w-full flex-grow sm:max-w-[920px]">
        <Featured />
      </div>
    </div>
  </div>
</MainLayout>
