---
import Featured from "../components/Featured.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Tine Muzunza | Featured Projects">
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pb-16 pt-6 sm:max-w-[812px]">
        <h1 class="pb-4">
          hi i'm tine, <br /> i code, design, and share ideas
        </h1>

        <p>
          Java developer with experience contributing to large-scale
          applications. Passionate about 3D art, focusing on hard surface
          modeling and sci-fi-inspired environment design. Explore my featured
          projects below to see how I blend technical skills with creative
          thinking across both domains.
        </p>
      </div>
      <div class="w-full flex-grow sm:max-w-[812px]">
        <Featured />
      </div>
    </div>
  </div>
</MainLayout>
