---
import Featured from "../components/Featured.tsx";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Tine Muzunza | Featured Projects and Insights">
  <div class="text-skin-text flex flex-col md:text-sm">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pb-8 pt-6 md:max-w-[812px]">
        <h2 class="text-lg font-medium">Tine Muzunza</h2>
        <h2 class="pb-4 text-lg font-medium">Software Engineer</h2>
        <p class="text-justify">
          Java developer with experience contributing to large-scale
          applications. Passionate about 3D art, focusing on hard surface
          modeling and sci-fi-inspired environment design. Explore my featured
          projects below to see how I blend technical skills with creative
          thinking across both domains.
        </p>
      </div>
      <div class="w-full flex-grow md:max-w-[812px]">
        <Featured client:load />
      </div>
    </div>
  </div>
</MainLayout>
