---
import Featured from "../components/Featured.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Tine Muzunza | Featured">
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pb-16 pt-6 sm:max-w-[920px]">
        <h1 class="pb-4">
          hi i'm tine, <br /> a software developer
        </h1>

        <p>
          I build engaging applications and craft detailed 3D designs—especially around sci-fi themes and hard-surface modelling. As a software engineer, I focus on simplifying complex problems and creating solutions that deliver. Dive in below to see what I’ve been working on!
        </p>
      </div>
      <div class="w-full flex-grow sm:max-w-[920px]">
        <Featured />
      </div>
    </div>
  </div>
</MainLayout>
