---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PostsGrid from "../components/PostsGrid.astro";
import MainLayout from "../layouts/main-layout.astro";

const allposts: CollectionEntry<"posts">[] = (
  await getCollection("posts")
).sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout title="Tine Muzunza | Articles and Project Content">
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pb-16 pt-6 sm:max-w-[920px]">
        <h1 class="pb-4">here are some posts</h1>
        <p class="text-justify">
          I write about projects I have worked on or anything I find
          interesting.
        </p>
      </div>
      <div class="w-full flex-grow sm:max-w-[920px]">
        {allposts.map((posts) =>
          <PostsGrid posts={posts} />)}
      </div>
    </div>
  </div>
</MainLayout>
