---
import { getCollection } from "astro:content";
import TagsList from "../components/TagsList.astro";
import MainLayout from "../layouts/main-layout.astro";

const allposts = await getCollection("posts");

// Extract all tags from all posts
const allTags = allposts.flatMap(
  (post: { data: { tags: any } }) => post.data.tags,
);

// Create a Set to get unique tags, then convert back to an array
const uniqueTags = [...new Set(allTags)];
---

<MainLayout title="Tags | Browse based on a topic">
  <div class="text-skin-text flex flex-col">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pt-6 pb-16 sm:max-w-[740px]">
        <h1 class="pb-4">browse based on a topic</h1>
      </div>

      <div class="w-full flex-grow sm:max-w-[740px]">
        <TagsList tags={uniqueTags} />
      </div>
      <div class="h-24"></div>
    </div>
  </div>
</MainLayout>
