---
import { getCollection } from "astro:content";
import TagsList from "../components/TagsList.astro";
import MainLayout from "../layouts/main-layout.astro";

const allwords = await getCollection("words");

// Extract all tags from all posts
const allTags = allwords.flatMap(
  (post: { data: { tags: any } }) => post.data.tags
);

// Create a Set to get unique tags, then convert back to an array
const uniqueTags = [...new Set(allTags)];
---

<MainLayout title="All Content Tags | Navigate my Portfolio by Topic">
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pb-8 pt-6 sm:max-w-[812px]">
        <h1 class="pb-4">browse based on a topic</h1>
        <p class="text-justify">
          A list of all the tags accross projects and written content site wide.
        </p>
      </div>

      <div class="w-full flex-grow sm:max-w-[812px]">
        <TagsList tags={uniqueTags} />
      </div>
    </div>
  </div>
</MainLayout>
