---
import { getCollection } from "astro:content";
import TagsList from "../components/TagsList.astro";
import MainLayout from "../layouts/main-layout.astro";

const allWriting = await getCollection("writing");

// Extract all tags from all posts
const allTags = allWriting.flatMap(
  (post: { data: { tags: any } }) => post.data.tags
);

// Create a Set to get unique tags, then convert back to an array
const uniqueTags = [...new Set(allTags)];
---

<MainLayout title="All Content Tags | Navigate my Portfolio by Topic">
  <div class="flex flex-col text-skin-base">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full border-b border-b-skin-border pb-8 pt-6 md:max-w-[812px]">
        <h2 class="pb-4 text-lg font-bold">Tags</h2>
        <p class="text-justify">
          A list of all the tags accross projects and written content site wide.
        </p>
      </div>
      <div class="pt-8"></div>

      <div class="w-full flex-grow md:max-w-[812px]">
        <TagsList tags={uniqueTags} />
      </div>
    </div>
  </div>
</MainLayout>
