---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import WritingGrid from "../components/WritingGrid.astro";
import MainLayout from "../layouts/main-layout.astro";

const allWriting: CollectionEntry<"writing">[] = (
  await getCollection("writing")
).sort(
  (a: CollectionEntry<"writing">, b: CollectionEntry<"writing">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout title="Tine Muzunza | Articles and Project Content">
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div
        class="w-full border-b border-b-skin-bg-sub pb-8 pt-6 sm:max-w-[812px]"
      >
        <h1 class="pb-4">Writing</h1>
        <p class="text-justify">
          I write about projects I have worked on and anything I find
          interesting and meaningfull.
        </p>
      </div>
      <div class="pt-8"></div>

      <div class="w-full flex-grow sm:max-w-[812px]">
        {allWriting.map((writing) => <WritingGrid writing={writing} />)}
      </div>
    </div>
  </div>
</MainLayout>
