---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import { formatDate, truncateTitle } from "../util/utils";
import FlickeringText from "./FlickeringText";
import Tag from "./Tag_Featured.astro";

const { tags } = Astro.props;

interface props {
  tags: string[];
}

const allWriting: CollectionEntry<"writing">[] = (
  await getCollection("writing")
).sort(
  (a: CollectionEntry<"writing">, b: CollectionEntry<"writing">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const tagWriting = allWriting.filter((writing) =>
  writing.data.tags.includes("featured")
);

// Define the type for the previousIndex parameter
function getUniqueIndex(previousIndex: number): number {
  // Array of possible indices
  const indices: number[] = [0, 1, 2];
  // Remove the previous index from the possible choices
  const remainingIndices = indices.filter((index) => index !== previousIndex);
  // Randomly select one of the remaining indices
  const randomIndex =
    remainingIndices[Math.floor(Math.random() * remainingIndices.length)];
  return randomIndex;
}

function shuffleArray<T>(array: T[]): T[] {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}

const shuffledTagWriting = shuffleArray(tagWriting);
---

<div class="">
  <div class="w-full flex-grow md:max-w-[812px]">
    {
      (() => {
        let lastIndex: number | null = null;
        let isFirstItem = true;

        return shuffledTagWriting.map((writing, index) => {
          const currentIndex = getUniqueIndex(
            lastIndex !== null ? lastIndex : -1
          );
          lastIndex = currentIndex;

          return (
            <div class="border-mgray grid grid-cols-3">
              {[0, 1, 2].map((index) => (
                <div class=" rounded-lg ">
                  <div class="relative aspect-square w-full">
                    {index === currentIndex ? (
                      <div class="bg-skin-bg-sub2 h-full flex-col rounded-[0.8rem] border border-skin-border border-opacity-50 p-1 md:rounded-[1.3rem] md:p-2">
                        <div class="h-[58%] md:h-[70%] overflow-hidden rounded-[0.55rem] border border-skin-border border-opacity-50 md:rounded-[0.85rem]">
                          <a href={"/writing/" + writing.slug}>
                            <Image
                              transition:name={writing.data.images[0].path.src}
                              class="h-full w-full  object-cover transition-transform duration-300 ease-in-out hover:scale-105"
                              src={writing.data.images[0].path}
                              alt={writing.data.images[0].alt}
                            />
                          </a>
                        </div>

                        <div class=" mx-1 pt-0.5 md:pt-1 text-[6px] md:text-[0.75rem]">
                          <div class="flex h-[1rem] items-center justify-between md:h-8">
                            <p>{formatDate(writing.data.pubDate)}</p>
                            <div class=" mx-1">
                              <Tag tags={writing.data.tags.slice(0, 1)} />
                            </div>
                          </div>
                          <p class="pt-[0.1rem] leading-[9px] md:leading-normal">
                            {truncateTitle(
                              writing.data.title.concat(
                                " - ",
                                writing.data.description
                              )
                            )}
                          </p>
                        </div>
                      </div>
                    ) : null}
                  </div>
                </div>
              ))}
            </div>
          );
        });
      })()
    }
  </div>
</div>
