---
// FeaturedImage.astro
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

const { writing } = Astro.props;
---

<a href={`/writing/${writing.slug}`}>
  <Image
    class="absolute inset-0 h-full w-full object-cover"
    src={writing.data.images[0].path}
    alt={writing.data.images[0].alt}
  />
</a>