---

---

<footer class="flex justify-center pb-4 text-skin-text/50">
  <div class="w-full sm:max-w-[920px]">
    <div class="h-72"></div>
    <div
      class="flex w-full flex-col border-t border-t-skin-bg-sub pt-8 "
    >
      <div><span>Contact me at</span> <a href="mailto:tine@muzunza.com" class="text-skin-accent">tine@muzunza.com</a>
        <span>, see other work on</span>
        <a
          href="https://www.linkedin.com/in/tinetariro-muzunzandare"
          target="_blank"
          class="text-skin-accent"
        >
          Linkedin
        </a><span>, my code on</span>
        <a href="https://github.com/tinemuz" target="_blank" class="text-skin-accent"> GitHub </a> .
      </div>
    </div>
    <p class="pt-1 sm:pt-5 text-xs text-left text-skin-text/30">
      © 2024 TINETARIRO MUZUNZANDARE
    </p>
  </div>
</footer>
