---

---

<footer class="flex justify-center pb-4 text-skin-text">
  <div class="w-full sm:max-w-[812px]">
    <div class="h-72"></div>
    <div
      class="flex w-full flex-col border-t border-t-skin-bg-sub pt-10 "
    >
      <div class="grid w-full grid-cols-2 gap-y-5">
        <div class="flex flex-col items-start space-y-2">
          <a href="mailto:tine@muzunza.com">tine@muzunza.com</a>
          <a
            href="https://www.linkedin.com/in/tinetariro-muzunzandare"
            target="_blank"
          >
            Linkedin
          </a>
          <a href="https://www.instagram.com/ti.drw/" target="_blank">
            Instagram
          </a>
        </div>
        <div class="flex flex-col items-start space-y-2">
          <a href="/">Featured</a>
          <a href="https://github.com/tinemuz" target="_blank"> GitHub </a>
          <a href="/tags">Tags</a>
        </div>
      </div>
    </div>
    <p class="pt-10 text-xs text-left text-skin-text/50">
      © MMXXIV TINETARIRO MUZUNZANDARE
    </p>
  </div>
</footer>
