---
import NavLinks from "./NavLinks";
import ThemeSelector from "./ThemeSelector.astro";
---

<nav class="flex h-[240px] flex-grow flex-col items-center justify-center text-skin-text/65 sm:text-sm">
  <div class="h-full flex-grow"></div>
  <div class="flex w-full flex-row items-center justify-between sm:max-w-[920px]">
    <div class="flex items-center space-x-1.5">
      <ThemeSelector />
      <div
        class="rounded-full bg-skin-bg-sub font-mono text-skin-text/80 px-2 py-[3px] text-xs items-center flex gap-1">
        <div>beta</div>
        <div class="rounded-full bg-amber-600 size-1.5" />
      </div>
    </div>
    <NavLinks client:only="react" />
  </div>
</nav>