---
import ThemeToggle from "./ThemeToggle";
---

<nav
  class="flex h-[240px] flex-grow flex-col items-center justify-center text-skin-text md:text-sm"
>
  <div class="h-full flex-grow"></div>

  <div
    class="flex w-full flex-row items-center justify-between md:max-w-[812px]"
  >
    <ThemeToggle client:only="react" />

    <div class="flex gap-8">
      <a href="/" class="hover:text-skin-text-sub">Featured</a>
      <a href="/writing" class="hover:text-skin-text-sub">Writing</a>
      <a href="/tags" class="hover:text-skin-text-sub">Tags</a>
    </div>
  </div>
</nav>
