---

---

<nav
  class="flex h-[240px] flex-grow flex-col items-center justify-center text-mtext md:text-sm"
>
  <div class="h-full flex-grow"></div>

  <div
    class="flex w-full flex-row items-center justify-between md:max-w-[812px]"
  >
    <div class="size-5 rounded-full bg-mred"></div>

    <div class="flex gap-8">
      <a href="/">Featured</a>
      <a href="/writing">Writing</a>
      <a href="/tags">Tags</a>
    </div>
  </div>
</nav>
