---
import ThemeToggle from "./ThemeToggle";
const currentPath = Astro.url.pathname;

---

<nav
  class="flex h-[240px] flex-grow flex-col items-center justify-center text-skin-text sm:text-sm"
>
  <div class="h-full flex-grow"></div>

  <div
    class="flex w-full flex-row items-center justify-between sm:max-w-[812px]"
  >
    <ThemeToggle client:only="react" />

    <div class="flex gap-8">
      <a
        href="/"
        class={`hover:text-skin-text-sub ${currentPath === "/" ? "font-bold cursor-default" : ""}`}
        >Featured</a
      >
      <a
        href="/writing"
        class={`hover:text-skin-text-sub ${currentPath === "/writing" ? "font-bold cursor-default" : ""}`}
        >Writing</a
      >
      <a
        href="/tags"
        class={`hover:text-skin-text-sub ${currentPath === "/tags" ? "font-bold cursor-default" : ""}`}
        >Tags</a
      >
    </div>
  </div>
</nav>
