---
import ThemeToggle from "./ThemeToggle";
import NavLink from "./NavLink";
const currentPath = Astro.url.pathname;
---

<nav
  class="flex h-[240px] flex-grow flex-col items-center justify-center text-skin-text sm:text-sm"
>
  <div class="h-full flex-grow"></div>

  <div
    class="flex w-full flex-row items-center justify-between sm:max-w-[812px]"
  >
    <ThemeToggle client:only="react" />
    <NavLink client:only="react" />
  </div>
</nav>
