---
import { type CollectionEntry } from "astro:content";
import { formatDateMonthYear } from "../util/utils";

type PostEntry = CollectionEntry<"posts">;
const { posts } = Astro.props as { posts: PostEntry };
---

<div class="pb-7">
  <a class="" href={"/posts/" + posts.slug}>
    <div class="flex justify-between">
      <div class="pr-1">
        <span class="hover:text-skin-accent">{posts.data.title}</span>
        <p class="text-skin-text/50 text-sm">{posts.data.description}</p>
      </div>
      <div class="min-w-20 text-right text-skin-text/50">
        {formatDateMonthYear(posts.data.pubDate)}
      </div>
    </div>
  </a>
</div>
