---
import { formatDateMonthYear } from "../util/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div class="flex-col p-0.5 sm:p-1">
  <a href={"/posts/" + post.slug}>
    <div
      class="border-skin-border bg-skin-bg-sub hover:bg-skin-bg-sub3 aspect-square rounded-lg border p-3 transition-all duration-200 ease-in-out"
    >
      <div
        class="flex h-full flex-col justify-between text-[0.65rem] leading-3 sm:text-sm"
      >
        <p class="text-skin-text/50">
          {post.data.type.charAt(0).toUpperCase() + post.data.type.slice(1)}
        </p>
        <div class="space-y-1 sm:space-y-2">
          <p class="sm:text-base">{post.data.title}</p>
          <p class="text-skin-text/70 hidden pt-0.5 sm:block sm:text-sm">
            {post.data.description}
          </p>
          <p class="text-skin-text/50 sm:text-xs">
            {formatDateMonthYear(post.data.pubDate)}
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
