---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
  class?: string;
}

const { src, alt } = Astro.props;
---

<div class="pb-6">
  <div class="relative overflow-hidden rounded-lg">
    <!-- Blurred Background -->
    <div class="absolute inset-0 bg-cover blur-lg filter" style={{ backgroundImage: `url(${src.src})` }}></div>

    <!-- Main Content -->
    <div class="relative p-0.5 lg:p-1">
      <Image src={src} alt={alt} class="rounded-[0.375rem] lg:rounded-[0.25rem]" />
    </div>
  </div>
</div>
