---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div class="flex-col p-0.5 sm:p-1">
  <a href={"/posts/" + post.slug}>
    <div
      class="relative rounded-lg aspect-square text-xs border overflow-hidden border-skin-border bg-skin-bg-sub">
      {/* Single Image Layout */}
      {post.data.images?.length === 1 && (
        <p class="absolute z-10 p-3 text-[0.65rem] sm:text-sm text-white/50">
          {post.data.type.charAt(0).toUpperCase() + post.data.type.slice(1)}
        </p>

        <Image
          class="size-full object-cover hover:grayscale hover:scale-105 transition-all duration-300 ease-in-out"
          src={post.data.images[0].path}
          alt={post.data.images[0].alt}
          loading="eager"
        />
      )}
    </div>
  </a>
</div>
