---
const { tags } = Astro.props;

interface props {
  tags: string[];
}
---

<div class="">
  {
    tags.map((tag: string) => (
      <span class="rounded-full bg-skin-bg-sub3 px-2 py-0.5 sm:py-[3px] text-[6px] sm:text-xs text-skin-accent-sub">
        <a href={"/tag/" + tag}>#{tag}</a>
      </span>
    ))
  }
</div>
