---
const { tags } = Astro.props;

interface props {
  tags: string[];
}
---

<div class="flex flex-wrap gap-3 pt-2">
  {
    tags.map((tag: string) => (
<<<<<<< HEAD
      <span class="bg-skin-bg-sub rounded-full px-2 py-[3px] text-xs text-skin-accent-sub font-bold">
=======
      <span class="bg-skin-bg-sub rounded-full px-2 py-[3px] text-xs text-skin-accent-sub">
>>>>>>> f1e6c7a588421fe1df690f9643e1f21fd7b7c2c7
        <a href={"/tag/" + tag}>#{tag}</a>
      </span>
    ))
  }
</div>
