---
import { type CollectionEntry } from "astro:content";
import { formatDateMonthYear } from "../util/utils";
import Tags from "./TagsList.astro";

type WordEntry = CollectionEntry<"words">;
const { words } = Astro.props as { words: WordEntry };
---

<div class="pb-7">
  <a class="" href={"/words/" + words.slug}>
    <div class="flex justify-between">
      <div class="pr-1">
        {words.data.title}
        <p class="text-skin-text/50">{words.data.description}</p>
      </div>
      <div class="flex min-w-24 justify-end text-skin-text/50">
        {formatDateMonthYear(words.data.pubDate)}
      </div>
    </div>
  </a>
</div>
