---
import MainLayout from "../../layouts/main-layout.astro";

import { getCollection, type CollectionEntry } from "astro:content";
import PostsGrid from "../../components/PostsGrid.astro";

const { tag } = Astro.props;

export async function getAllTags() {
  const collection = await getCollection("posts");
  const allTags = new Set<string>();

  collection.forEach((item: { data: { tags: any[] } }) => {
    item.data.tags?.forEach((tag) => allTags.add(tag));
  });

  return Array.from(allTags);
}

// Generate static paths for tags
export async function getStaticPaths() {
  const tags = await getAllTags();
  return tags.map((tag) => ({
    params: { tag },
    props: { tag }
  }));
}

const allposts: CollectionEntry<"posts">[] = (
  await getCollection("posts")
).sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tagposts = allposts.filter((posts) => posts.data.tags.includes(tag));
---

<MainLayout title={`# ${tag}`}>
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pt-6 sm:max-w-[920px]">
        <h1 class="pb-16"># {tag}</h1>
      </div>
      <div class="w-full flex-grow sm:max-w-[920px]">
        {tagposts.map((posts) =>
          <PostsGrid posts={posts} />)}
      </div>
    </div>
  </div>
</MainLayout>
