---
import MainLayout from "../../layouts/main-layout.astro";

import { getCollection, type CollectionEntry } from "astro:content";
import WordsGrid from "../../components/wordsGrid.astro";

const { tag } = Astro.props;

export async function getAllTags() {
  const collection = await getCollection("words");
  const allTags = new Set<string>();

  collection.forEach((item: { data: { tags: any[] } }) => {
    item.data.tags?.forEach((tag) => allTags.add(tag));
  });

  return Array.from(allTags);
}

// Generate static paths for tags
export async function getStaticPaths() {
  const tags = await getAllTags();
  return tags.map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

const allwords: CollectionEntry<"words">[] = (
  await getCollection("words")
).sort(
  (a: CollectionEntry<"words">, b: CollectionEntry<"words">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tagwords = allwords.filter((words) => words.data.tags.includes(tag));
---

<MainLayout title={`# ${tag}`}>
  <div class="flex flex-col text-skin-text">
    <div class="flex flex-grow flex-col items-center justify-center">
      <div class="w-full pt-6 sm:max-w-[812px]">
        <h1 class="pb-8"># {tag}</h1>
      </div>
      <div class="w-full flex-grow sm:max-w-[812px]">
        {tagwords.map((words) => <WordsGrid words={words} />)}
      </div>
    </div>
  </div>
</MainLayout>
