---
const { title } = Astro.props;
import Nav from "../components/Nav.astro";
import "../../src/styles/global.css";
import "@fontsource/dm-mono";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Tinetariro Muzunzandare" content="Portfolio, software developer" />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body class="bg-back px-6 text-xs md:text-sm">
    <main>
      <Nav />
      <div class="min-h-[calc(100vh-560px)] md:min-h-[calc(100vh-460px)]">
        <slot />
        <!-- All the different pages to be rendered -->
      </div>

      <Footer/>
    </main>
  </body>
</html>
