---
const { title } = Astro.props
import Nav from "../components/Nav"
import '../../src/styles/global.css'
import '@fontsource/dm-mono';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Tine's portfolio" />
        <meta title={title} />
    </head>
    <body class="bg-back text-xs">
        <main>
            <Nav client:load/>
            <slot />
            <!-- All the different pages to be rendered -->
        </main>
    </body>
</html>