---
import { ClientRouter } from "astro:transitions";
import "../../src/styles/global.css";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="Tinetariro Muzunzandare"
      content="Tinetariro Muzunzandare | Portfolio"
    />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.svg" />
    <ClientRouter />
  </head>
  <body
    class="bg-skin-bg selection:bg-skin-bg-sub3/80 selection:text-skin-text/60 px-6 text-sm transition-all duration-200 ease-in-out sm:text-base"
  >
    <main>
      <Nav />
      <div class="min-h-[calc(100vh-700px)] sm:min-h-[calc(100vh-700px)]">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>

<script>
  import Lenis from "lenis";

  function initLenis() {
    const lenis = new Lenis({
      duration: 1.2,
      easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
      orientation: "vertical",
      smoothWheel: true,
    });

    function raf(time: number) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }
    requestAnimationFrame(raf);

    return lenis;
  }

  initLenis();

  document.addEventListener("astro:page-load", initLenis);
</script>
