---
import { ViewTransitions } from "astro:transitions";
import "../../src/styles/global.css";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const { title } = Astro.props;

// Define global transition animations with subtle motion
const globalTransition = {
  forwards: {
    old: {
      name: "blurOutUp", // Animation for the outgoing page
      duration: "0.2s",
      easing: "ease-in",
    },
    new: {
      name: "blurInUp", // Animation for the incoming page
      duration: "0.5s",
      easing: "ease-out",
    },
  },
  backwards: {
    old: {
      name: "blurOutUp",
      duration: "0.5s",
      easing: "ease-in",
    },
    new: {
      name: "blurInUp",
      duration: "0.5s",
      easing: "ease-out",
    },
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="Tinetariro Muzunzandare"
      content="Portfolio, software developer"
    />
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body
    transition:animate={globalTransition}
    class="bg-skin-bg px-6 text-sm selection:bg-skin-text selection:bg-opacity-50 selection:text-skin-bg"
  >
    <main>
      <Nav />
      <div class="min-h-[calc(100vh-559px)] sm:min-h-[calc(100vh-459px)]">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
