---
import MainLayout from "../../layouts/main-layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allWriting: CollectionEntry<"writing">[] = await getCollection("writing");

  return allWriting.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<MainLayout title={entry.data.title}>
  <p>{entry.data.title}</p>
</MainLayout>
